@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2e2e2e;
}

.about-us {
    background-color: #2e2e2e;
    color: white;
    padding: 20px;
    max-width: 90%;
    margin: 20px 0;
    border-radius: 10px;
    font-family: 'Mansalva', cursive;
    font-size: 1.2em; /* Increased base font size */
}

.about-us h1, .about-us h2 {
    color: #ff6a00;
    text-align: center;
    margin-bottom: 20px;
}

.about-us h1 {
    font-size: 2.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.about-us h2 {
    font-size: 2em;
    letter-spacing: 1.2px;
}

.about-us p {
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
    padding: 10px;
    background-color: #393939;
    border-left: 5px solid #ff6a00;
    border-radius: 5px;
    font-size: 1.2em; /* Increased font size for paragraphs */
}

.image-scroller-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.image-scroller {
    display: flex;
    width: calc(150px * 12 * 2); /* Adjust this calculation based on your image width and count */
    animation: scroll 40s linear infinite;
}

.image-scroller img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.faq-section {
    margin-top: 30px;
    width: 90%; /* Ensure FAQ section has a consistent width */
}

.faq {
    margin-bottom: 20px;
    background-color: #ff6a00;
    border-radius: 5px;
    padding: 15px; /* Increased padding for better readability */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
    font-size: 1.2em; /* Increased font size for FAQ items */
}

.faq-question {
    font-weight: bold;
    color: black;
}

.faq-answer {
    margin-top: 10px;
    color: white;
    padding: 10px;
    background-color: #e65c00;
    border-radius: 5px;
    display: none; /* Hide by default */
    font-size: 1.2em; /* Increased font size for FAQ answers */
}

.faq.open .faq-answer {
    display: block; /* Show when FAQ is open */
}

.team-section {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em; /* Increased font size for team section */
}

.team-member {
    background-color: #ff6a00;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2em; /* Increased font size for team member items */
}





