@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.sign-in-page {
    height: 100vh;
    background-color: #2e2e2e;
    margin: 0;
    padding: 0;
    font-family: 'Mansalva', cursive;
    /* Apply Mansalva font */
}

.left-banner {
    position: fixed;
    background-color: #F95C19;
    height: 100vh;
    width: 519px;
    z-index: 1;
}

#p2 {
    color: black;
}

.signin-form {
    position: absolute;
    top: 104px;
    left: 437px;
    width: 539px;
    background-color: white;
    z-index: 5;
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Mansalva', cursive;
    /* Apply Mansalva font */
}

.signin-form .row {
    margin-bottom: 20px;
}

.signin-form p {
    font-size: 20px;
    margin: 0;
    font-family: 'Mansalva', cursive;
    /* Apply Mansalva font */
}

.signin-form .col-6 p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #F95C19;
}

.signin-form a {
    text-decoration: none;
    color: #F95C19;
}

.signin-form a:hover {
    text-decoration: underline;
}

.signin-form input[type="text"],
.signin-form input[type="password"],
.signin-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signin-button {
    width: 100%;
    padding: 10px;
    background-color: #F95C19;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #e04b0f;
}

.sign-in-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sign-in-button {
    background-color: #F95C19;
    border: none;
    color: white;
    font-weight: bold;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.sign-in-button .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sign-in-button:hover {
    background-color: #e65c00;
}


